PORT=5000
MONGO_URI=mongodb+srv://rkstudiobsr01_db_user:6YfxBvy12S9BrBtk@voice-owl-cluster.2dmo0yo.mongodb.net/?appName=voice-owl-cluster
AZURE_KEY=your_azure_key_here
AZURE_REGION=your_region
PASSWORD=6YfxBvy12S9BrBtk